<h1>Listing idv_charts</h1>

<table>
  <tr>
    <th>Maker</th>
    <th>Model</th>
    <th>Subtype</th>
    <th>Seats</th>
    <th>Cubic</th>
    <th>Fuel</th>
    <th>Age 0 6</th>
    <th>Age 6 12</th>
    <th>Age 12 24</th>
    <th>Age 24 36</th>
    <th>Age 36 48</th>
    <th>Age 48 60</th>
    <th>Age 60 72</th>
    <th>Age 72 84</th>
    <th>Age 84 96</th>
    <th>Age 96</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @idv_charts.each do |idv_chart| %>
  <tr>
    <td><%= idv_chart.maker %></td>
    <td><%= idv_chart.model %></td>
    <td><%= idv_chart.subtype %></td>
    <td><%= idv_chart.seats %></td>
    <td><%= idv_chart.cubic %></td>
    <td><%= idv_chart.fuel %></td>
    <td><%= idv_chart.age_0_6 %></td>
    <td><%= idv_chart.age_6_12 %></td>
    <td><%= idv_chart.age_12_24 %></td>
    <td><%= idv_chart.age_24_36 %></td>
    <td><%= idv_chart.age_36_48 %></td>
    <td><%= idv_chart.age_48_60 %></td>
    <td><%= idv_chart.age_60_72 %></td>
    <td><%= idv_chart.age_72_84 %></td>
    <td><%= idv_chart.age_84_96 %></td>
    <td><%= idv_chart.age_96 %></td>
    <td><%= link_to 'Show', idv_chart %></td>
    <td><%= link_to 'Edit', edit_idv_chart_path(idv_chart) %></td>
    <td><%= link_to 'Destroy', idv_chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idv chart', new_idv_chart_path %>
