<p id="notice"><%= notice %></p>

<p>
  <b>Maker:</b>
  <%= @idv_chart.maker %>
</p>

<p>
  <b>Model:</b>
  <%= @idv_chart.model %>
</p>

<p>
  <b>Subtype:</b>
  <%= @idv_chart.subtype %>
</p>

<p>
  <b>Seats:</b>
  <%= @idv_chart.seats %>
</p>

<p>
  <b>Cubic:</b>
  <%= @idv_chart.cubic %>
</p>

<p>
  <b>Fuel:</b>
  <%= @idv_chart.fuel %>
</p>

<p>
  <b>Age 0 6:</b>
  <%= @idv_chart.age_0_6 %>
</p>

<p>
  <b>Age 6 12:</b>
  <%= @idv_chart.age_6_12 %>
</p>

<p>
  <b>Age 12 24:</b>
  <%= @idv_chart.age_12_24 %>
</p>

<p>
  <b>Age 24 36:</b>
  <%= @idv_chart.age_24_36 %>
</p>

<p>
  <b>Age 36 48:</b>
  <%= @idv_chart.age_36_48 %>
</p>

<p>
  <b>Age 48 60:</b>
  <%= @idv_chart.age_48_60 %>
</p>

<p>
  <b>Age 60 72:</b>
  <%= @idv_chart.age_60_72 %>
</p>

<p>
  <b>Age 72 84:</b>
  <%= @idv_chart.age_72_84 %>
</p>

<p>
  <b>Age 84 96:</b>
  <%= @idv_chart.age_84_96 %>
</p>

<p>
  <b>Age 96:</b>
  <%= @idv_chart.age_96 %>
</p>


<%= link_to 'Edit', edit_idv_chart_path(@idv_chart) %> |
<%= link_to 'Back', idv_charts_path %>
