<p id="notice"><%= notice %></p>

<p>
  <b>New policy:</b>
  <%= @motor_search.new_policy %>
</p>

<p>
  <b>Policy exp date:</b>
  <%= @motor_search.policy_exp_date %>
</p>

<p>
  <b>Year of manufacture:</b>
  <%= @motor_search.year_of_manufacture %>
</p>

<p>
  <b>Idv chart:</b>
  <%= @motor_search.idv_chart_id %>
</p>

<p>
  <b>Register city:</b>
  <%= @motor_search.register_city %>
</p>

<p>
  <b>Transfer ncb:</b>
  <%= @motor_search.transfer_ncb %>
</p>

<p>
  <b>Ncb:</b>
  <%= @motor_search.ncb %>
</p>

<p>
  <b>Elec acc:</b>
  <%= @motor_search.elec_acc %>
</p>

<p>
  <b>Non elec acc:</b>
  <%= @motor_search.non_elec_acc %>
</p>

<p>
  <b>Cng kit:</b>
  <%= @motor_search.cng_kit %>
</p>

<p>
  <b>Cng kit value:</b>
  <%= @motor_search.cng_kit_value %>
</p>

<p>
  <b>Passenger coverage amt:</b>
  <%= @motor_search.passenger_coverage_amt %>
</p>

<p>
  <b>Voluntary excess:</b>
  <%= @motor_search.voluntary_excess %>
</p>

<p>
  <b>Has anti theft:</b>
  <%= @motor_search.has_anti_theft %>
</p>

<p>
  <b>Aai member:</b>
  <%= @motor_search.aai_member %>
</p>


<%= link_to 'Edit', edit_motor_search_path(@motor_search) %> |
<%= link_to 'Back', motor_searches_path %>
