<div class="is_right-hand-div">
  <div class="alert alert-block">
    <h3>Resend unlock instructions</h3>
  </div>
  <div>
	<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :email, :required => true %>
	  </div>

	  <div>
	    <%= f.button :submit, "Resend unlock instructions", :class => "is_btn-custom" %>
	  </div>
	  <%= render "devise/shared/links" %>
	<% end %>
  </div>
</div>