<div id="deviseDiv" class="is_right-hand-div">
  <div class="alert alert-block is_alert-heading">
    <h3>Resend unlock instructions</h3>
  </div>
  <div>
	<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :email, :required => true %>
	  </div>

	  <div>
	    <%= f.button :submit, "Resend unlock instructions", :class => "is_btn-custom" %>
	  </div>
	  <%= render "devise/shared/links" %>
	<% end %>
  </div>
</div>
<% content_for :insuranceContent do %>
  <%= render :partial => "welcome/index", :locals => { :display => "none" } %>
<% end %>
<%= javascript_tag do %>
	window.content = "devise";
<% end %>   
