<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Mobile: <%= @user.mobile if @user.mobile %></p>
<p>Address: <%= @user.address if @user.address %></p>
<p>Role: <%= @user.roles.first.name.titleize unless @user.roles.first.nil? %></p>

<%= render 'motor_policies/list' %>

<p>  <%= link_to 'Add Policy', {:controller => "motor_policies", :action => "new", :user_id => @user.id } %></p>