<div id="deviseDiv" class="is_main_content_div">
  <div class="alert alert-block is_alert-heading is_main_content_header">
    <strong>Change your password</strong>
  </div>
  <div class="is_main_content_body">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, :as => :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs form-horizontal">
        <%= f.input :password, :label => "New password", :required => true %>
        <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %>
        <div class="controls">
          <%= f.button :submit, "Change my password", :class => "is_btn-custom" %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% content_for :insuranceContent do %>
  <%= render :partial => "welcome/index", :locals => { :display => "none" } %>
<% end %>
<%= javascript_tag do %>
  window.content = "devise";
<% end %>   