<h2>Listing Health Charts</h2>

<table class="table table-bordered table-striped" >
  <tr>
    <th>Company</th>
    <th>Coverage</th>
    <th>Age start</th>
    <th>Age end</th>
    <th>Premium</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @health_charts.each do |health_chart| %>
  <tr>
    <td><%= health_chart.company_id %></td>
    <td><%= health_chart.coverage %></td>
    <td><%= health_chart.age_start %></td>
    <td><%= health_chart.age_end %></td>
    <td><%= health_chart.premium %></td>
    <td><%= link_to 'Show', health_chart %></td>
    <td><%= link_to 'Edit', edit_health_chart_path(health_chart) %></td>
    <td><%= link_to 'Destroy', health_chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Travel chart', new_health_chart_path %>
