<ul class="nav nav-list bs-docs-sidenav affix">
  <li><%= link_to 'IDV Chart', motor_idv_charts_path %></li>
  <li><%= link_to 'Motor Discount', motor_discounts_path %></li>
  <li><%= link_to 'RTO', motor_rtos_path %></li>
  <li><%= link_to 'Motor Quote Requests', motor_searches_path %></li>
  <li><%= link_to 'Users', admin_users_path %></li>
</ul>