<div id="insuranceShopeeDiv" class="tab-content" style="display:<%= display %>">
    <div class="tab-pane active" id="mainContentDiv">
      <div>

        <div id="breadcrumb" class="wizard" style="margin-bottom: 5px;">
          <a style="width: 30%;"><span id="1" class="badge badge-important">1</span>Calculate Premium<span class="greentick"><i class="icon-ok"></i></span></a>
          <a style="width: 25%;"> <span id="2" class="badge badge-important">2</span> Results<span class="greentick"><i class="icon-ok"></i></span></a>
          <a class="current" style="width: 40%;"><span id="3" class="badge badge-important">3</span> Enter details and Review<span class="greentick"><i class="icon-ok"></i></span></a>
        </div>

        <!--

        <div id="breadcrumb" class="progress is_breadcrumb">
          <div id="1" class="bar bar-danger" style="width: 34%;"><strong>Calculate Premium&nbsp;&nbsp;&rarr;</strong></div>
          <div id="2" class="bar bar-danger" style="width: 33%;"><strong>Results&nbsp;&nbsp;&rarr;</strong></div>
          <div id="3" class="bar bar-danger" style="width: 33%;"><strong>Enter details and Review</strong></div>
        </div>

      -->

      	<div class="accordion" id="accordion1">

      		<div id="quoteFormAccordion" class="accordion-group">
      			<div class="accordion-heading">
      				<a id="1" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"><i class="icon-plus-sign icon-white"></i> Calculate Premium</a>
        		</div>
  				  <div id="collapseOne" class="accordion-body collapse">
                  <div id="accordion1Motor" class="accordion-inner">
        					 <%= render "motor/forms/quote_form" %>
                  </div>
                  <div id="accordion1Health" class="accordion-inner" style="display:none">
                    <%= render "health/forms/quote_form" %>
                  </div>
                  <div id="accordion1Travel" class="accordion-inner" style="display:none">
                    <%= render "travel/forms/quote_form" %>
                  </div>
      			</div>
    			</div>

  		   	<div id="quoteResultsAccordion" class="accordion-group">
  		    	<div class="accordion-heading">
  		      		<a id="2" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo"><i class="icon-plus-sign icon-white"></i> Results</a>
  		    	</div>
  		    	<div id="collapseTwo" class="accordion-body collapse">
  		      		<div id="table"class="accordion-inner">
  		        		Looks like you did not fill in the form...
  		      		</div>
  		    	</div>
  		  	</div>

  		   	<div id="quoteResultsBuyAccordion" class="accordion-group">
  		    	<div class="accordion-heading">
  		      		<a id="3" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree"><i class="icon-plus-sign icon-white"></i> Insured Contact Details</a>
  		    	</div>
  		    	<div id="collapseThree" class="accordion-body collapse">
  		      		<div id="table"class="accordion-inner">
  		        		<%= render "welcome/forms/contact_details_form" %>
  		      		</div>
  		    	</div>
  		  	</div> 		  	 
  		  </div>
      </div>
    </div>
    <div id="userMenuContentDiv" class="is_right-hand-div">
      <div id="userMenuContentDivAlert" class="alert is_alert-heading" style="padding: 0px 35px 0px 4px;border-radius: 6px 6px 0 0;">
      </div>
      <div id="userMenuContentDivTable">  
      </div>    
    </div>
</div>
<%= render 'motor/forms/premium_breakup' %>
<%= render 'motor/forms/policy_compare' %>
<%= render 'motor/forms/form_disable_message' %>