<div class="tab-content">
    <div class="tab-pane active" id="mainContentDiv">

      <div id="breadcrumb" class="progress is_breadcrumb">
        <div id="1" class="bar bar-danger" style="width: 34%;"><strong>Calculate Premium&nbsp;&nbsp;&rarr;</strong></div>
        <div id="2" class="bar bar-danger" style="width: 33%;"><strong>Results&nbsp;&nbsp;&rarr;</strong></div>
        <div id="3" class="bar bar-danger" style="width: 33%;"><strong>Enter details and Review</strong></div>
      </div>

    	<div class="accordion" id="accordion1">

    		<div id="quoteFormAccordion" class="accordion-group">
    			<div class="accordion-heading">
    				<a id="1" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"><i class="icon-plus-sign icon-white"></i>Calculate Premium</a>
      		</div>
				  <div id="collapseOne" class="accordion-body collapse">
                <div id="accordion1Motor" class="accordion-inner">
      					 <%= render "motor/forms/quote_form" %>
                </div>
                <div id="accordion1Health" class="accordion-inner" style="display:none">
                  <%= render "health/forms/quote_form" %>
                </div>
                <div id="accordion1Travel" class="accordion-inner" style="display:none">
                  <%= render "travel/forms/quote_form" %>
                </div>
    			</div>
  			</div>

		   	<div id="quoteResultsAccordion" class="accordion-group">
		    	<div class="accordion-heading">
		      		<a id="2" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo"><i class="icon-plus-sign icon-white"></i>Results</a>
		    	</div>
		    	<div id="collapseTwo" class="accordion-body collapse">
		      		<div id="table"class="accordion-inner">
		        		Looks like you did not fill in the form...
		      		</div>
		    	</div>
		  	</div>

		   	<div id="quoteResultsBuyAccordion" class="accordion-group">
		    	<div class="accordion-heading">
		      		<a id="3" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree"><i class="icon-plus-sign icon-white"></i>Insured Contact Details</a>
		    	</div>
		    	<div id="collapseThree" class="accordion-body collapse">
		      		<div id="table"class="accordion-inner">
		        		<%= render "welcome/forms/contact_details_form" %>
		      		</div>
		    	</div>
		  	</div> 		  	 
		</div>
		<%= render 'motor/forms/premium_breakup' %>
  </div>
  </div>
