<div class="tab-content">
    <div class="tab-pane active" id="mainContentDiv">

      <div id="breadcrumb" class="progress">
        <div id="1" class="bar bar-warning" style="width: 34%;">Calculate Premium&nbsp;&nbsp;&rarr;</div>
        <div id="2" class="bar bar-warning" style="width: 33%;">Results&nbsp;&nbsp;&rarr;</div>
        <div id="3" class="bar bar-warning" style="width: 33%;">Enter details and Review</div>
      </div>

    	<div class="accordion" id="accordion1">

    		<div id="quoteFormAccordion" class="accordion-group">
    			<div class="accordion-heading">
    				<a id="link" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"><i class="icon-arrow-up"></i>Calculate Premium</a>
      		</div>
				  <div id="collapseOne" class="accordion-body collapse in">
      				<div class="accordion-inner">
                <div id="accordion1Motor">
      					 <%= render "motor/forms/quote_form" %>
                </div>
                <div id="accordion1Health"  style="display:none">
                  <%= render "health/forms/quote_form" %>
                </div>
                <div id="accordion1Travel"  style="display:none">
                  <%= render "travel/forms/quote_form" %>
                </div>
      				</div>
    			</div>
  			</div>

		   	<div id="quoteResultsAccordion" class="accordion-group" id="accordion2">
		    	<div class="accordion-heading">
		      		<a id="link" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo"><i class="icon-arrow-down"></i>Results</a>
		    	</div>
		    	<div id="collapseTwo" class="accordion-body collapse">
		      		<div id="table"class="accordion-inner">
		        		Looks like you did not fill in the form...
		      		</div>
		    	</div>
		  	</div>

		   	<div id="quoteResultsBuyAccordion" class="accordion-group" id="accordion3">
		    	<div class="accordion-heading">
		      		<a id="link" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree"><i class="icon-arrow-down"></i>Insured Contact Details</a>
		    	</div>
		    	<div id="collapseThree" class="accordion-body collapse">
		      		<div id="table"class="accordion-inner">
		        		<%= render "welcome/forms/contact_details_form" %>
		      		</div>
		    	</div>
		  	</div> 		  	 
		</div>
		<%= render 'motor/forms/premium_breakup' %>
  </div>
  </div>
