A very sincere thanks for your interest. We will contact you very shortly. 

Please find below the motor Insurance details

<table>
<tr>
	<td>Name</td>
	<td><%=@search.name %></td>
</tr>
<tr>
	<td>Email Id</td>
	<td><%=@search.email_id %></td>
</tr>
<tr>
	<td>Mobile Number</td>
	<td><%=@search.mobile_number%></td>
</tr>
<tr>
	<td>Address</td>
	<td><%=@search.address%></td>
</tr>
<tr>
	<td>Company Name</td>
	<td><%=@search.company_name%></td>
</tr>
<tr>
	<td>Is New Policy</td>
	<td><%=@search.new_policy%></td>
</tr>
<tr>
	<td>Final Premium</td>
	<td><%=@search.final_premium%></td>
</tr>
<tr>
	<td>Motor Maker</td>
	<td><%=@idvChart.maker%></td>
</tr>
<tr>
	<td>Motor Model</td>
	<td><%=@idvChart.model%> - <%=@idvChart.subtype%></td>
</tr>
<tr>
	<td>Year of Manufacture</td>
	<td><%=@search.year_of_manufacture%></td>
</tr>
<tr>
	<td>Has Claim?</td>
	<td><%=@search.has_claim%></td>
</tr>
<tr>
	<td>NCB</td>
	<td><%=@search.ncb%></td>
</tr>
<tr>
	<td>Bi-Fuel Type</td>
	<td><%=@search.cng_type%></td>
</tr>
<tr>
	<td>Bi-Fuel Kit Value</td>
	<td><%=@search.cng_value%></td>
</tr>
<tr>
	<td>Electric Acc Value</td>
	<td><%=@search.elec_acc%></td>
</tr>
<tr>
	<td>Non electric Acc Value</td>
	<td><%=@search.non_elec_acc%></td>
</tr>
<tr>
	<td>Policy expiry date</td>
	<td><%=@search.policy_exp_date%></td>
</tr>
<tr>
	<td>Has Full Coverage</td>
	<td><%=@search.has_full_cover%></td>
</tr>
<tr>
	<td>Register Type</td>
	<td><%=@search.register_type%></td>
</tr>
<tr>
	<td>Motor Register Date</td>
	<td><%=@search.register_date%></td>
</tr>
<tr>
	<td>Has Anti Theft?</td>
	<td><%=@search.has_anti_theft%></td>
</tr>
<tr>
	<td>Is AAI Member</td>
	<td><%=@search.is_aai_member%></td>
</tr>
<tr>
	<td>Passenger Coverage Amount</td>
	<td><%=@search.passenger_coverage_amt%></td>
</tr>
</table>
