<html>
<head>
	<style type="text/css">
	</style>
</head>
<body style="font-size:1.2em; letter-spacing:1px;padding: 4px;" >
Dear <%=@search.name %>,<br/><br/>
Greetings from InsuranceShopee.com! <br/> <br/>
A very sincere thanks for your interest. We will contact you very shortly. <br/>
Please find below the travel insurance details.<br/><br/><br/>

<table border="1" cellpadding="5" cellspacing="1" >
<tr>
	<td style="background: #def5e5;font-weight:bold;">Name</td>
	<td><%=@search.name %></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Email Id</td>
	<td><%=@search.email_id %></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Mobile Number</td>
	<td><%=@search.mobile_number%></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;" >Address</td>
	<td style="white-space: pre-wrap;" ><%=@search.address%></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Company Name</td>
	<td><%=@search.company_name%></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Policy For</td>
	<td>
	<%

	case @search.policy_for
     when 'I'
       policy_for_text = 'Individual'
     when 'F'
       policy_for_text = 'Family Floater'
     else
       policy_for_text = 'Student'
   end
    %>
    <%=policy_for_text%>

	</td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Final Premium</td>
	<td><%=@search.final_premium%></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Age</td>
	<td><%=@search.age%></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Travel Coverage</td>
	<td><%=@search.travel_cover%></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Travel Start Date</td>
	<td><%=@search.start_date%></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Travel End Date</td>
	<td><%=@search.end_date%></td>
</tr>
</table>
<br>
<br>
Regards,<br>
The InsuranceShopee Team<br>
</body>
</html>
