<html>
<head>
	<style type="text/css">
	</style>
</head>
<body style="font-size:1.2em; letter-spacing:1px;padding: 4px;" >
Dear <%=@contact.name%>,<br/><br/>
Greetings from InsuranceShopee.com! <br/> <br/>
Sorry for Inconvenience, Your complaint has been registered with us. We will work on your complaint and contact you very soon.<br/>
Please find below your complaint details.<br/><br/><br/>

<table border="1" cellpadding="5" cellspacing="1" >
<tr>
	<td style="background: #def5e5;font-weight:bold;">Your Email</td>
	<td><%=@contact.email %></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Your Mobile</td>
	<td><%=@contact.mobile %></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Product</td>
	<td><%=@contact.product %></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Subject</td>
	<td><%=@contact.subject %></td>
</tr>
<tr>
	<td style="background: #def5e5;font-weight:bold;">Complaint Details</td>
	<td style="white-space: pre-wrap;"  ><%=@contact.message%></td>
</tr>
</table>
<br>
<br>
Regards,<br>
The InsuranceShopee Team<br>
</body>
</html>
