<div id="deviseDiv" class="is_main_content_div">
  <div class="alert alert-block is_alert-heading is_main_content_header">
    <strong>Sign in</strong>
  </div>
  <div class="is_main_content_body">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div class="form-inputs form-horizontal">
	    <%= f.input :login, :placeholder => 'Email OR Mobile Number' ,:hint => 'Please enter Email OR Mobile Number', :required => false, :autofocus => true %>
	    <%= f.input :password, :required => false %>
	    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
	    <div class="control-group">
	    	<div class="controls">
		    	<%= f.button :submit, "Sign in", :class => "is_btn-custom"  %>
		  		<%= render "devise/shared/links" %>
		  	</div>
		</div>
	  </div>	  
	<% end %>
  </div>
</div>
<% content_for :insuranceContent do %>
  <%= render :partial => "welcome/index", :locals => { :display => "none" } %>
<% end %>
<%= javascript_tag do %>
	window.content = "devise";
<% end %>   
