<div id="deviseDiv" class="is_right-hand-div">
  <div class="alert alert-block is_alert-heading">
    <h3>Sign in</h3>
  </div>
  <div>
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :login, :placeholder => 'Email OR Mobile Number' ,:hint => 'Please enter Email OR Mobile Number', :required => false, :autofocus => true %>
	    <%= f.input :password, :required => false %>
	    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
	  </div>

	  <div>
	    <%= f.button :submit, "Sign in", :class => "is_btn-custom"  %>
	  </div>
	  <%= render "devise/shared/links" %>
	<% end %>
  </div>
</div>
<% content_for :insuranceContent do %>
  <%= render :partial => "welcome/index", :locals => { :display => "none" } %>
<% end %>
<%= javascript_tag do %>
	window.content = "devise";
<% end %>   
