
<div>
<form method="get" action="/loyalty/find_referrals" class="form-horizontal" >
  <select type="text" name="status" >
   <option value="OPEN" >OPEN</option>
   <option value="INPROGRESS" >INPROGRESS</option>
   <option value="CONFIRM" >CONFIRM</option>
  </select>
 <input type="submit" name="search" value="Search" />
</form>
</div>


<fieldset >
<legend>Referrals</legend>

<table class="table table-bordered table-striped">
  <tr>
    <th>User Id</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>referral Name</th>
    <th>referral Mobile</th>
    <th>Description</th>
    <th>Staus</th>
    <th>Date</th>
    <th></th>
 </tr>

  <% @referrals.each do |referral| %>
      <tr>
        <td><%= referral.user_id %></td>
        <td><%= referral.mobile %></td>
        <td><%= referral.email %></td>
        <td><%= referral.ref_name %></td>
        <td><%= referral.ref_mobile %></td>
        <td><%= referral.ref_desc %></td>
        <td><%= referral.status %></td>
        <td><%= referral.created_at %></td>
        <td><%= link_to 'Update', {:controller => "/loyalty", :action => "referral", :id => referral.id }  %></td>
      </tr>
  <% end %>
</table>
</fieldset>
