<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Details:</b>
  <%= @product.details %>
</p>

<p>
  <b>Points:</b>
  <%= @product.points %>
</p>


<p>
  <b>Your Available Points date:</b>
  <%= @total_points %>
</p>


<%= link_to 'Confirm', {:controller => "loyalty", :action => "confirm" , :id => @product.id }  %>    |    
<%= link_to 'Back to Purchas List', {:controller => "loyalty", :action => "products" } %>