<fieldset >
<legend>My Points</legend>

<div>
  Total Points = <%=@total_points%>
</div>
<table class="table table-bordered table-striped">
  <tr>
    <th>Referance Id</th>
    <th>Earn Date</th>
    <th>Expiry Date</th>
    <th>Points</th>
    <th>Staus</th>
  </tr>

  <% @rewards.each do |reward| %>
      <tr>
        <td><%= link_to 'Details', {:controller => "loyalty", :action => "details" , :id => reward.id, :ref_id => reward.ref_id, :ref_type => reward.ref_type }  %>  </td>
        <td><%= reward.created_at %></td>
        <td><%= reward.exp_dt %></td>
        <td><%= reward.points %></td>
        <td><%= reward.status %></td>
      </tr>
  <% end %>
</table>
</fieldset>
