<h2>Rewards</h2>

<table class="table table-bordered table-striped" >
  <tr>
    <th>Name</th>
    <th>Details</th>
    <th>Points</th>
    <th>Image name</th>
    <th></th>
  </tr>

<% @rewards.each do |reward| %>
  <tr>
    <td><%= reward.name %></td>
    <td><%= reward.details %></td>
    <td><%= reward.points %></td>
    <td><%= reward.image_name %></td>
    <td><%= link_to 'Bye', {:controller => "loyalty", :action => "purchase", :id => reward.id }  %></td>
  </tr>
<% end %>
</table>

<br />

