<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Mobile: <%= @user.mobile if @user.mobile %></p>
<p>Address: <%= @user.address if @user.address %></p>
<p>Role: <%= @user.roles.first.name.titleize unless @user.roles.first.nil? %></p>

<%= render 'motor_policies/list' %>

<a data-toggle="modal" href="#add-policy" class="btn" >Add Policy</a>
<%= render 'motor_policies/form' %>
<%= render 'motor_policies/edit' %>