<h2>Listing IDV Charts</h2>
<p><%= link_to 'Add Idv Chart', new_motor_idv_chart_path, :class => "btn" %></p>
<table class="table table-bordered table-striped">
  <tr>
    <th>Maker</th>
    <th>Model</th>
    <th>Subtype</th>
    <th>Seats</th>
    <th>Cubic</th>
    <th>Fuel</th>
    <th></th>
    <th></th>
  </tr>

<% @idv_charts.each do |idv_chart| %>
  <tr>
    <td><%= idv_chart.maker %></td>
    <td><%= idv_chart.model %></td>
    <td><%= idv_chart.subtype %></td>
    <td><%= idv_chart.seats %></td>
    <td><%= idv_chart.cubic %></td>
    <td><%= idv_chart.fuel %></td>
    <td><%= link_to 'Show', idv_chart %></td>
    <td><%= link_to 'Edit', edit_motor_idv_chart_path(idv_chart) %></td>
  </tr>
<% end %>
</table>
<p><%= link_to 'Add Idv Chart', new_motor_idv_chart_path, :class => "btn" %></p>
<br/>
