<p id="notice"><%= notice %></p>

<p>
  <b>Idv chart:</b>
  <%= @motor_discount.idv_chart.maker + " - " + @motor_discount.idv_chart.model + " - "+ @motor_discount.idv_chart.subtype %>
</p>

<p>
  <b>Company:</b>
  <%= @motor_discount.company.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @motor_discount.amount %>
</p>

<p>
  <b>RTO:</b>
  <%= @motor_discount.rto.city + " (" + @motor_discount.rto.state + ")" %>
</p>

<%= link_to 'Edit', edit_motor_discount_path(@motor_discount) %> |
<%= link_to 'Back', motor_discounts_path %>
