<h2>Listing Motor Discounts</h2>

<div>
<form method="get" action="/motor/discounts" class="form-horizontal" >
  <select type="text" name="company_id" >
   <option value="1" >ICICI</option>
   <option value="2" >BAJAJ</option>
   <option value="3" >TATA</option>
   <option value="4" >RELIANCE</option>
   <option value="5" >Apollo Munich</option>
   <option value="6" >Max Bupa</option>
   <option value="7" >Religare</option>
   <option value="8" >HDFC</option>
   <option value="9" >Bharti Axa</option>
   <option value="10" >IFFCO Tokio</option>
   <option value="11" >L&T</option>
   <option value="12" >National</option>
   <option value="13" >United India</option>
  </select>
 <input type="submit" name="search" value="Search" />
</form>
</div>
<p><%= link_to 'Add Motor discount', new_motor_discount_path, :class => "btn" %></p>
<table class="table table-bordered table-striped">
  <tr>
    <th>Motor Details</th>
    <th>Company</th>
    <th>Year Of Manufacture</th>
    <th>Discount(%)</th>
    <th>RTO</th>
    <th></th>
    <th></th>
  </tr>

<% @motor_discounts.each do |motor_discount| %>
  <tr>
    <td><%= motor_discount.idv_chart.maker + " - " + motor_discount.idv_chart.model + " - "+ motor_discount.idv_chart.subtype %></td>
    <td><%= motor_discount.company.name %></td>
    <td><%= motor_discount.year %></td>
    <td><%= motor_discount.amount %> 
      <% unless motor_discount.amount >= 0 %>
        (Loading)
      <% end%>
    </td>
    <td> <% unless  motor_discount.rto.nil?%>
          <%= motor_discount.rto.city + " (" + motor_discount.rto.state + ")" %>
         <%end%>
    </td>
    <td><%= link_to 'Edit', edit_motor_discount_path(motor_discount) %></td>
    <td><%= link_to 'Destroy', motor_discount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Motor discount', new_motor_discount_path, :class => "btn" %>
