<h2>Listing Motor Discounts</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Motor Details</th>
    <th>Company</th>
    <th>Discount(%)</th>
    <th>RTO</th>
    <th></th>
    <th></th>
  </tr>

<% @motor_discounts.each do |motor_discount| %>
  <tr>
    <td><%= motor_discount.idv_chart.maker + " - " + motor_discount.idv_chart.model + " - "+ motor_discount.idv_chart.subtype %></td>
    <td><%= motor_discount.company.name %></td>
    <td><%= motor_discount.amount %> 
      <% unless motor_discount.amount >= 0 %>
        (Loading)
      <% end%>
    </td>
    <td> <% unless  motor_discount.rto.nil?%>
          <%= motor_discount.rto.city + " (" + motor_discount.rto.state + ")" %>
         <%end%>
    </td>
    <td><%= link_to 'Edit', edit_motor_discount_path(motor_discount) %></td>
    <td><%= link_to 'Destroy', motor_discount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Motor discount', new_motor_discount_path, :class => "btn" %>
