<%= simple_form_for(@rto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :sub_code %>
    <%= f.input :city %>
    <%= f.input :state %>
  </div>

    <%= f.button :submit %>
<% end %>
