<div id="footerLevelNavBar" role="main" >
	<div class="container">
		<div class="content">
			<div class="row">
				<div class="span2">
				</div>
				<div class="span7" class="navbar navbar-inner is_center">
					<div class="row">
						<div class="span2">
					</div>
					<span width="33%">
						<ul class="nav">
							<li>
			             	 <%= link_to '<i class="icon-home"></i> Home'.html_safe, root_path %>
			           		</li>  
					        <li>
					           <%= link_to '<i class="icon-group"></i> About Us'.html_safe, home_aboutus_path %>
					        </li>
					        <li>
			             	 <%= link_to '<i class="icon-question-sign"></i> FAQ'.html_safe, home_faq_path %>
			           		</li>  
					        <li>
					          <%= link_to '<i class="icon-lock"></i> Private Policy'.html_safe, home_privatepolicy_path %>
					        </li>
					        <li>
			              	<%= link_to '<i class="icon-user"></i> Send an Advisor'.html_safe, home_contactus_path %>
			           		</li>
					        <li>
					            <%= link_to '<i class="icon-warning-sign"></i> Disclaimer'.html_safe, home_disclaimer_path %>
					        </li> 
						</ul>
					</span>
					<span width="33%">
						<ul class="nav">
							<li>
			             	 <%= link_to '<i class="icon-home"></i> Home'.html_safe, root_path %>
			           		</li>  
					        <li>
					           <%= link_to '<i class="icon-group"></i> About Us'.html_safe, home_aboutus_path %>
					        </li>
					        <li>
			             	 <%= link_to '<i class="icon-question-sign"></i> FAQ'.html_safe, home_faq_path %>
			           		</li>  
					        <li>
					          <%= link_to '<i class="icon-lock"></i> Private Policy'.html_safe, home_privatepolicy_path %>
					        </li>
					        <li>
			              	<%= link_to '<i class="icon-user"></i> Send an Advisor'.html_safe, home_contactus_path %>
			           		</li>
					        <li>
					            <%= link_to '<i class="icon-warning-sign"></i> Disclaimer'.html_safe, home_disclaimer_path %>
					        </li> 
						</ul>						
					</span>
					<span width="33%">
						<ul class="nav">
							<li>
			             	 <%= link_to '<i class="icon-home"></i> Home'.html_safe, root_path %>
			           		</li>  
					        <li>
					           <%= link_to '<i class="icon-group"></i> About Us'.html_safe, home_aboutus_path %>
					        </li>
					        <li>
			             	 <%= link_to '<i class="icon-question-sign"></i> FAQ'.html_safe, home_faq_path %>
			           		</li>  
					        <li>
					          <%= link_to '<i class="icon-lock"></i> Private Policy'.html_safe, home_privatepolicy_path %>
					        </li>
					        <li>
			              	<%= link_to '<i class="icon-user"></i> Send an Advisor'.html_safe, home_contactus_path %>
			           		</li>
					        <li>
					            <%= link_to '<i class="icon-warning-sign"></i> Disclaimer'.html_safe, home_disclaimer_path %>
					        </li> 
						</ul>						
					</span>										
				</div>
				<div class="span3">
				</div>
			</div>
		</div>
	</div>
</div>

