<div>
  <div  class="navbar navbar-fixed-top iSHeader" id="firstLevelNavBar">
    <div class="navbar-inner">
      <div class="container" style="height: 60px;">
        <%= link_to "Insurance Shopee", "/welcome/index", :class => 'brand' %>
        <ul class="nav">
          <% if user_signed_in? %>
            <li>
            <%= link_to '<i class="icon-signout"></i> Logout'.html_safe, destroy_user_session_path, :method=>'delete' %>        
            </li>
          <% else %>
            <li>
            <%= link_to '<i class="icon-signin"></i> Login'.html_safe, new_user_session_path %>  
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
            <%= link_to '<i class="icon-edit"></i> Edit account'.html_safe, edit_user_registration_path %>
            </li>
            <% if current_user.has_role? :admin %>
              <li>
              <%= link_to '<i class="icon-cogs"></i> Admin'.html_safe, home_admin_path %>
              </li>
            <% end %>
          <% else %>
            <li>
            <%= link_to '<i class="icon-edit"></i> Sign up'.html_safe, new_user_registration_path %>
            </li>
          <% end %>
          <li>
              <%= link_to '<i class="icon-thumbs-down"></i> Complaints'.html_safe, new_user_registration_path %>
           </li>
           <li>
              <%= link_to '<i class="icon-laptop"></i> Career'.html_safe, new_user_registration_path %>
           </li>
           <li>
              <%= link_to '<i class="icon-envelope"></i> Contact Us'.html_safe, new_user_registration_path %>
           </li>
           <li>
              <%= link_to '<i class="icon-question-sign"></i> FAQ'.html_safe, new_user_registration_path %>
           </li>                           
        </ul>
      </div>
    </div>
    <div class="navbar-inner" id="secondLevelNavBar">
      <ul class="nav">
        <li id="1" class="active"><a href="#"><i class="icon-truck"></i> Motor Insurance</a></li>
        <li id="2" ><a href="#"><i class="icon-stethoscope"></i> Health Insurance</a></li>
        <li id="3" ><a href="#"><i class="icon-home"></i> Travel Insurance</a></li>
      </ul>
    </div>
  </div>

</div>