<div>
  <div  class="navbar navbar-fixed-top iSHeader">
    <div class="navbar-inner" id="firstLevelNavBar">
      <div class="container" style="height: 80px;">
        <a href="/welcome/index"><img src="/assets/ads/ScaledCompleteLogowithoutShadow.jpg" style="height: 104px;"/></a>
        <ul class="nav first">
          <li>
              <a href="#"><i class="icon-facebook-sign"></i></a>
          </li> 
          <li>
              <a href="#"><i class="icon-twitter"></i></a>
          </li>
          <li>
              <a href="#"><i class="icon-linkedin"></i></a>
          </li>
          <li>
              <a href="#"><i class="icon-google-plus"></i></a>
          </li>                         
        </ul>
        <ul class="nav second">
          <% if user_signed_in? %>
            <li>
            <%= link_to '<i class="icon-signout"></i> Logout'.html_safe, destroy_user_session_path, :method=>'delete' %>        
            </li>
          <% else %>
            <li>
            <%= link_to '<i class="icon-signin"></i> Login'.html_safe, new_user_session_path %>  
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
            <%= link_to '<i class="icon-edit"></i> Edit account'.html_safe, edit_user_registration_path %>
            </li>
            <% if current_user.has_role? :admin %>
              <li>
              <%= link_to '<i class="icon-cogs"></i> Admin'.html_safe, home_admin_path %>
              </li>
            <% end %>
          <% else %>
            <li>
            <%= link_to '<i class="icon-edit"></i> Sign up'.html_safe, new_user_registration_path %>
            </li>
          <% end %>
          <li>
              <%= link_to '<i class="icon-thumbs-down"></i> Complaints'.html_safe, home_complaint_path %>
           </li>
           <li>
              <%= link_to '<i class="icon-user"></i> Send an Advisor'.html_safe, home_contactus_path %>
           </li>
           <li>
              <%= link_to '<i class="icon-question-sign"></i> FAQ'.html_safe, home_faq_path %>
           </li>                           
        </ul>
      </div>
    </div>
    <div class="navbar-inner" id="secondLevelNavBar" style="">
       <div class="container">
          <ul class="nav">
            <li id="1" ><a href="#"><i class="icon-truck"></i> Motor</a></li>
            <li id="2" ><a href="#"><i class="icon-plus-sign-alt"></i> Health</a></li>
            <li id="3" ><a href="#"><i class="icon-plane"></i> Travel</a></li>
            <li id="4" userMenuId="myRewards" userMenuHref="/loyalty/rewards" ><a href="#"><i class="icon-gift"></i> Rewards</a></li>
          </ul>
        </div>
    </div>
  </div>

</div>