<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta name="google-site-verification" content="MEdf1vC9a__Ga2S-V6MY__gIOcZLtkHq63z8yMSphc8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Insurance Shopee" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Insurance Shopee" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/header' %>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <% if (!user_signed_in?) %>
               <div class="span2">
                <%= render "shared/help_left" %>                
               </div>
                <div class="span7">
                  <%= render 'layouts/messages' %>
                   <%= yield :insuranceContent %>
                   <%= yield %>
                </div>
                <div class="span3">
                    <%= render "shared/ads_banner" %>
                    <%= render "shared/request_callback" %>
                    <%= render "shared/refer_friend" %>
                </div>
             <% else %>
              <% if (current_user.has_role? :user) %>
                  <div class="span2">
                        <%= render "shared/user_left_nav" %>
                        <%= render "shared/help_left" %>  
                  </div>
                  <div class="span7">
                    <%= render 'layouts/messages' %>
                    <%= yield :insuranceContent %>
                    <%= yield %>
                  </div>
                 <div class="span3 affix span9Pos">
                    <%= render "shared/ads_banner" %>
                    <%= render "shared/request_callback" %>
                    <%= render "shared/refer_friend" %>
                </div> 
              <% elsif (current_user.has_role? :operator) %> 
                 <div class="span2">
                      <%= render "shared/operator_left_nav" %>
                  </div>
                  <div class="span10">
                    <%= render 'layouts/messages' %>
                    <%= yield :insuranceContent %>
                    <%= yield %>
                  </div>
              <% else %>
                   <div class="span2">
                      <%= render "shared/admin_left_nav" %>
                  </div>
                  <div class="span10">
                    <%= render 'layouts/messages' %>
                    <%= yield :insuranceContent %>
                    <%= yield %>
                  </div>
              <% end %>
             <% end %>
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <%= render 'layouts/footer' %>
  </body>
</html>