<div id="add-policy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= simple_form_for  @policy, :html => {:method => :post, :class => 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Add Policy</h3>
    </div>
    <div class="modal-body">
      <div class="form-inputs">
         <%= f.error_notification %>
        <%= f.input :policy_id, :required => true , :autofocus => true %>
        <%= f.input :policy_type ,:required => true, :prompt => "Select Type", :collection => [ "MOTOR", "HEALTH", "TRAVEL"] %>
        <%= f.association :user,  :label_method =>  :name, :value_method => :id, :prompt => "Select User", :required => true %>
        <%= f.association  :company,  :label_method => :name, :value_method => :id,  :prompt => "Select Company", :required => true  %>
        <%= f.input :start_date, :as => :date, :start_year => Date.today.year - 1,
            :end_year => Date.today.year + 1, :order => [:day, :month, :year] , :required => true %>
        <%= f.input :end_date, :as => :date, :start_year => Date.today.year ,
                    :end_year => Date.today.year + 2, :order => [:day, :month, :year] %>
        <%= f.input :premium , :required => true %>
        <%= f.input :discount , :required => true %>
        <%= f.label :policy_path %>
        <%= f.file_field :policy_path %>
        <% unless  @policy.policy_path.nil?%>
            <%= link_to 'Download policy',  {:controller => "/policies", :action => "download", :id => @policy.id } %>
         <% end %>
  </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Add Policy", :class => "btn" %>
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>
</div>
<% if ( (@policy.errors.size > 0 ) &&  (@is_edit == false) )%>
<script type="text/javascript"> 
 $("#add-policy").modal('show'); 
 </script>  
<% end %>