<fieldset style="width:800px">
<legend>Policies List</legend>

<table class="table table-bordered table-striped">
  <tr>
    <th>Policy</th>
    <th>User</th>
    <th>Company</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Premium</th>
    <th>Discount</th>
    <th></th>
    <th></th>
  </tr>

  <% @policies.each do |policy| %>
      <tr>
        <td><%= policy.policy_id %></td>
        <td><%= policy.user.name %></td>
        <td><%= policy.company.name %></td>
        <td><%= policy.start_date %></td>
        <td><%= policy.end_date %></td>
        <td><%= policy.premium %></td>
        <td><%= policy.discount %></td>
        <td><%= link_to 'Show', motor_policy %></td>
        <td><%= link_to 'Edit', edit_motor_policy_path(motor_policy) %></td>
      </tr>
  <% end %>
</table>
</fieldset>
