<p id="notice"><%= notice %></p>

<p>
  <b>Policy:</b>
  <%= @policy.policy_id %>
</p>

<p>
  <b>User:</b>
  <%= @policy.user_id %>
</p>

<p>
  <b>Company:</b>
  <%= @policy.company_id %>
</p>

<p>
  <b>Start date:</b>
  <%= @policy.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @policy.end_date %>
</p>

<p>
  <b>Premium:</b>
  <%= @policy.premium %>
</p>

<p>
  <b>Discount:</b>
  <%= @motor_policy.discount %>
</p>

<p>
  <b>Policy path:</b>
  <%= @policy.policy_path %>
</p>


<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
