<fieldset >
<legend>Policies List</legend>

<table class="table table-bordered table-striped">
  <tr>
    <th>Policy</th>
    <th>Company</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Premium</th>
    <th></th>
   </tr>

  <% @policies.each do |policy| %>
      <tr>
        <td><%= policy.policy_type %></td>
        <td><%= policy.company.name %></td>
        <td><%= policy.start_date %></td>
        <td><%= policy.end_date %></td>
        <td><%= policy.premium %></td>
        <td> <% unless  policy.policy_path.nil?%>
            <%= link_to 'Download',  {:controller => "/policies", :action => "download", :id => policy.id } %>
         <% end %>
       </td>
      </tr>
  <% end %>
</table>
</fieldset>
